In [1]:
import pandas

data=pandas.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [2]:
#1.B
print(data.count())
print(data.count().sum())
print(data.shape)

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
21864
(4622, 5)

In [3]:
#1.A
data[:5]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#1.C
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
#1.D
print(data.shape[1],data.columns.values)

5 ['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

In [6]:
#1.E
#setul de date este indexat pe line iar fiecare linie are un index unic

In [7]:
#1.F
print(sorted(data['item_name'].drop_duplicates()))
print(data['item_name'].value_counts())

['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito', 'Canned Soda', 'Canned Soft Drink', 'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips', 'Chips and Fresh Tomato Salsa', 'Chips and Guacamole', 'Chips and Mild Fresh Tomato Salsa', 'Chips and Roasted Chili Corn Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Tomatillo Green Chili Salsa', 'Chips and Tomatillo Red Chili Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze', 'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl', 'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad', 'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl', 'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad', 'Veggie Salad Bowl', 'Veggie Soft Tacos']
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [8]:
#1.G
print(data['quantity'].sum())

4972

In [9]:
#1.H
data_ip=pandas.DataFrame(data)
#data_ip['item_price']=(data_ip["item_price"].str.strip('$')).astype(float)

group= data_ip.groupby('item_name')
group.describe()
item=group.get_group('Chicken Crispy Tacos')
print(item['item_price'].min())
print(item['item_price'].max())
print(item['item_price'].mean())
print(item['item_price'].median())
print(item['item_price'].describe())
print(item['item_price'].sum())

$10.98
$8.75

TypeError: Could not convert $8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $11.25 $17.50 $8.75 $11.25 $10.98 $8.75 $8.75 $8.75 $8.75 $11.25 $8.75 $8.49 $11.25 $8.75 $11.25 $8.75 $8.49 $8.75 $8.75 $8.49 $11.25 $8.75 $8.75 $8.49 $11.25 $11.25 $8.49 $11.25 $8.75 $8.49 $8.75 $8.75 $8.75 $8.75 $16.98 $8.75 $11.25 $11.25 $11.25 $8.75  to numeric

In [ ]:
#1.J
data['item_name'].value_counts()['Veggie Salad Bowl']

In [ ]:
#1.I
data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[:3]

In [ ]:
data.groupby(['order_id','item_name'])

In [ ]:
data_campionat=pandas.read_csv('https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv',sep=',')
data_campionat.columns.values

In [ ]:
#2.A
data_campionat.shape[0]

In [ ]:
#2.B
sortat=data_campionat.sort_values(['Red Cards','Yellow Cards'],ascending=[False,False])
print(sortat[['Team','Red Cards','Yellow Cards']])

In [ ]:
#2.C
data_campionat['Red Cards'].median()

In [ ]:
data_campionat['Red Cards'].mean()

In [ ]:
print(data_campionat.groupby('Red Cards')['Team'])

In [ ]:
#2.E
serie=pandas.Series(data_campionat['Team'])
print(serie[serie.str.startswith('G')])

In [ ]:
#2.F
#data_campionat[['Anglia','Grecia','Rusia'],'Shooting accuracy']

In [15]:
#Ex:3-A.
data=pandas.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
alcohol_drinks= data.groupby('continent')['beer_servings'].mean()
alcohol_drinks.sort_values(ascending=False).head(1)

continent
EU    193.777778
Name: beer_servings, dtype: float64

In [13]:
#3B
data.groupby(by="continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [14]:
#3C
data.groupby('continent')['beer_servings'].agg(['min', 'max', 'mean'])

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333