In [1]:
import pandas

data=pandas.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [2]:
#1.B
print(data.count())
print(data.count().sum())
print(data.shape)

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
21864
(4622, 5)

In [3]:
#1.A
data[:5]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#1.C
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
#1.D
print(data.shape[1],data.columns.values)

5 ['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

In [6]:
#1.E
#setul de date este indexat pe line iar fiecare linie are un index unic

In [7]:
#1.F
print(sorted(data['item_name'].drop_duplicates()))
print(data['item_name'].value_counts())

['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito', 'Canned Soda', 'Canned Soft Drink', 'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips', 'Chips and Fresh Tomato Salsa', 'Chips and Guacamole', 'Chips and Mild Fresh Tomato Salsa', 'Chips and Roasted Chili Corn Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Tomatillo Green Chili Salsa', 'Chips and Tomatillo Red Chili Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze', 'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl', 'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad', 'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl', 'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad', 'Veggie Salad Bowl', 'Veggie Soft Tacos']
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [8]:
#1.G
print(data['quantity'].sum())

4972

In [10]:
#1.H
data_ip=pandas.DataFrame(data)
data_ip['item_price']=(data_ip["item_price"].str.strip('$')).astype(float)

group= data_ip.groupby('item_name')
group.describe()
item=group.get_group('Chicken Crispy Tacos')
print(item['item_price'].min())
print(item['item_price'].max())
print(item['item_price'].mean())
print(item['item_price'].median())
print(item['item_price'].describe())
print(item['item_price'].sum())

8.49
17.5
10.045319148936173
8.75
count    47.000000
mean     10.045319
std       2.260303
min       8.490000
25%       8.750000
50%       8.750000
75%      11.250000
max      17.500000
Name: item_price, dtype: float64
472.13

In [ ]:
#1.J
data['item_name'].value_counts()['Veggie Salad Bowl']

In [ ]:
#1.I
data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[:3]

In [35]:
#1.K
data[['order_id','quantity','item_name']][(data['item_name']=='Canned Soda') & (data['quantity']>1)].count()

order_id     20
quantity     20
item_name    20
dtype: int64

In [49]:
#1.L
#data['item_price']=(data["item_price"].str.strip('$')).astype(float)
data['total_price']=(data['quantity']*data['item_price'])

data.groupby('order_id')['total_price'].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
6       17.50
7       15.70
8       10.88
9       12.85
10      13.20
11      12.38
12      14.37
13      10.88
14      10.08
15      10.88
16      10.68
17      10.08
18      24.90
19      13.90
20      36.20
21      23.36
22      12.98
23      13.35
24      12.07
25      11.38
26      20.50
27      13.90
28      33.70
29      17.98
30      23.36
        ...
1805    20.00
1806    13.00
1807    18.64
1808    13.70
1809    14.45
1810    23.00
1811    29.25
1812    25.00
1813    35.00
1814    13.70
1815    12.50
1816    13.20
1817    13.00
1818    18.14
1819    13.20
1820    12.50
1821    13.70
1822    26.00
1823    12.15
1824    26.95
1825    66.50
1826    15.95
1827    32.95
1828    14.45
1829    24.25
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: total_price, Length: 1834, dtype: float64

In [11]:
data_campionat=pandas.read_csv('https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv',sep=',')
data_campionat.columns.values

array(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots',
       'Total shots (inc. Blocked)', 'Hit Woodwork', 'Penalty goals',
       'Penalties not scored', 'Headed goals', 'Passes',
       'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances',
       'Interceptions', 'Clearances off line', 'Clean Sheets', 'Blocks',
       'Goals conceded', 'Saves made', 'Saves-to-shots ratio',
       'Fouls Won', 'Fouls Conceded', 'Offsides', 'Yellow Cards',
       'Red Cards', 'Subs on', 'Subs off', 'Players Used'], dtype=object)

In [12]:
#2.A
data_campionat.shape[0]

16

In [13]:
#2.B
sortat=data_campionat.sort_values(['Red Cards','Yellow Cards'],ascending=[False,False])
print(sortat[['Team','Red Cards','Yellow Cards']])

                   Team  Red Cards  Yellow Cards
6                Greece          1             9
9                Poland          1             7
11  Republic of Ireland          1             6
7                 Italy          0            16
10             Portugal          0            12
13                Spain          0            11
0               Croatia          0             9
1        Czech Republic          0             7
14               Sweden          0             7
4                France          0             6
12               Russia          0             6
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
2               Denmark          0             4
5               Germany          0             4

In [14]:
#2.C
data_campionat['Red Cards'].median()

0.0

In [15]:
data_campionat['Red Cards'].mean()

0.1875

In [59]:
#2.D
data_campionat.groupby('Team')['Red Cards'].sum()>data_campionat['Red Cards'].mean()

Team
Croatia                False
Czech Republic         False
Denmark                False
England                False
France                 False
Germany                False
Greece                  True
Italy                  False
Netherlands            False
Poland                  True
Portugal               False
Republic of Ireland     True
Russia                 False
Spain                  False
Sweden                 False
Ukraine                False
Name: Red Cards, dtype: bool

In [ ]:
#2.E
serie=pandas.Series(data_campionat['Team'])
print(serie[serie.str.startswith('G')])

In [92]:
#2.F
data_campionat[['Team','Shooting Accuracy']][(data_campionat['Team']=='England') | (data_campionat['Team']=='Greece') | (data_campionat['Team']=='Russia')]

       Team Shooting Accuracy
3   England             50.0%
6    Greece             30.7%
12   Russia             22.5%