In [140]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV , RandomizedSearchCV,train_test_split
from sklearn import metrics

# Random Forest

# KNieghbors

# Linear Regressor

# Ridge

# Lasso

# Breast Cancer Dataframe

In [132]:
"prima coloana este y"
breastC=pd.read_csv("breastC.csv",header=None)
breastC.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,5,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,0.07055,0.1865,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,31
1,2,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,0.14710,0.2419,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,61
2,0,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,0.08180,0.2333,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,116
3,0,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,0.10520,0.2597,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,123
4,0,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,0.10430,0.1809,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,27

# CPU Computer Hardware

In [49]:
machine=pd.read_csv("machine.csv",header=None)

machine_values=machine.values
machine_values=machine_values[:,2:9]
print(machine_values)
machine.head()

[[125 256 6000 ... 16 128 198]
 [29 8000 32000 ... 8 32 269]
 [29 8000 32000 ... 8 32 220]
 ...
 [125 2000 8000 ... 2 14 52]
 [480 512 8000 ... 0 0 67]
 [480 1000 4000 ... 0 0 45]]

         0        1    2     3      4    5   6    7    8    9
0  adviser    32/60  125   256   6000  256  16  128  198  199
1   amdahl   470v/7   29  8000  32000   32   8   32  269  253
2   amdahl  470v/7a   29  8000  32000   32   8   32  220  253
3   amdahl  470v/7b   29  8000  32000   32   8   32  172  253
4   amdahl  470v/7c   29  8000  16000   32   8   16  132  132

# Crime Dataframe

In [147]:

communities=pd.read_csv("communities.csv",header=None)
coloana=[0,1,2,3,4]
communities.drop(communities.columns[coloana],axis=1,inplace=True)
communities = communities[communities != '?']
communities.dropna(axis=1,inplace=True)
communities.head()

,5,6,7,8,9,10,11,12,13,14,...,96,97,98,99,100,118,119,120,125,127
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,0.20
1,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,0.27,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,0.67
2,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,0.32,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.43
3,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,0.21,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,0.12
4,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,0.36,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,0.03

# Boston Housing

In [139]:
housing=pd.read_csv("housing.csv",delimiter='\s+',header=None)
housing.head()
x=housing.values[:,:-1]
y=housing.values[:,-1]
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=1/3)